<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MENU</title>
</head>
<body>
<footer th:fragment="footer">
    <center>
        <!-- this is footer -->
        &copy; 2017 M&T Company
        <span sec:authorize="isAuthenticated()">
               | Logged user: <span sec:authentication="name"></span> |
               Roles: <span sec:authentication="principal.authorities"></span> |
               <a th:href="@{/logout}">Sign Out</a>
           </span>

    </center>

</footer>
</body>
</html>