<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MENU</title>

</head>
<body>
<div th:fragment="menu">
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <a th:href="@{/}" class="brand-logo">gif<span>.</span>lib</a>
                <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li th:if="${#authorization.expression('isAuthenticated()')}"><a href="#">Hello [[${#httpServletRequest.remoteUser}]]</a></li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'USER')" class="active">| </li>
                    <li sec:authorize="hasRole('ADMIN')"><a href="/admin/addcategory">Add category</a></li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'USER')"><a href="/user/addmeme">Add meme</a></li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'USER')" class="active"> |</li>


                    <li><a th:href="@{/}">Explore</a></li>
                    <li><a th:href="@{/categories}">Categories</a></li>
                    <li><a th:href="@{/favorites}">Favorites</a></li>

                    <li class="active" th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/logout}">Sign Out</a></li>
                    <li class="active" th:if="${#authorization.expression('!isAuthenticated()')}"><a href="/login">Log in</a></li>
                </ul>
                <ul id="mobile-nav" class="side-nav">
                    <li th:if="${#authorization.expression('isAuthenticated()')}"><a href="#">Hello [[${#httpServletRequest.remoteUser}]]</a></li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'USER')" class="active">| </li>
                    <li sec:authorize="hasRole('ADMIN')"><a href="/admin/addcategory">Add category</a></li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'USER')"><a href="/user/addmeme">Add meme</a></li>
                    <li sec:authorize="hasAnyRole('ADMIN', 'USER')" class="active"> |</li>


                    <li class="active"><a th:href="@{/}">Explore</a></li>
                    <li><a th:href="@{/categories}">Categories</a></li>
                    <li><a th:href="@{/favorites}">Favorites</a></li>

                    <li class="active" th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/logout}">Sign Out</a></li>
                    <li class="active" th:if="${#authorization.expression('!isAuthenticated()')}"><a href="/login">Log in</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="search-bar container">
        <div class="row">
            <div class="col s12">
                <form action="/search" method="get">
                    <div class="input-field">
                        <input name="q" type="search" placeholder="Wyszukiwanie..." required="required" autocomplete="off"/>
                        <i class="material-icons">search</i>
                        <input style="display: none; float: right;" type="submit" value="SEARCH"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>