<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="fragments/header :: header">...</head>

    <title>giflib | Home</title>
</head>
<body>

<div th:insert="fragments/menu :: menu">...</div>


<div class="gifs container">

    <div class="row">
        <h1>Dodaj mema:</h1>
        <form action="/user/addconfirmation" method="post">
            <label>Nazwa: </label>
            <input type="text" name="name">
            <label>Url: </label>
            <input type="text" name="gifUrl">
            <label>Favorite: </label>
            <input style="visibility: visible; z-index: 1; left: ;" type="checkbox" name="favorite" checked="">
            <label>Kategoria: </label>
            <select style="display: block" id="category" name="category">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category}">Category</option>
            </select><br><br>
            <input type="submit"/>

        </form>
    </div>
</div>

<div th:insert="fragments/footer :: footer">...</div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>