<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="fragments/header :: header">...</head>

    <title th:text="'giflib | ' + ${category.name}">Category</title>
</head>
<body>

<div th:insert="fragments/menu :: menu">...</div>

<div class="gifs container">
    <div class="chip" th:text="${category.name}">category name</div>
    <div class="row">
        <h1 th:text="${category.name}"></h1>
        <a th:each="gif : ${gifs}" th:href="'/detail/' + ${gif.name}"><img class="col s12 l4" th:src="@{${gif}}"/></a>
    </div>
</div>

<div th:insert="fragments/footer :: footer">...</div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>